.container{
display: flex;
flex-direction: column;
width: 80vw;
margin: auto;
background-color:#86efac;
}
.head{
    padding: 3rem 1rem 1rem 1rem;
    margin: auto;
}
.text{
    padding: 1rem 2rem;
    margin: auto;
}
table{
    margin: auto;
    margin-bottom: 2rem;
}
caption {
    margin: 1rem;
    font: bold;
    font-size: large;

}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
label {
    padding: 1rem;
    display: block;
    margin: auto;
    font-size: larger;
    font-weight: 600;
    text-align: center;
}
input{
    width: 20vw;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    display: block;
}
button{
    border: bold solid black;
    padding: 0.5rem;
    width: 10vw;
    margin:1rem auto;
    background-color: aqua;
    border-radius: 0.5rem;
    display: block;
}
#error-msg{
    margin: auto;
}
.container-a{
    display: none;
}
.container-b{
    display: none;
}